.App{
    border: 0.3rem solid rgba(255, 255, 255, 0.993);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(209, 209, 209, 0.623);
    padding: 3%;
    border-radius: 0.5rem;
    
}
h1{
  color:rgba(245, 221, 189, 0.993);
}
h2{
  color:rgb(83, 83, 83);
}
h3{
  color:white;
  font-size: 0.95rem;

}
span{
  color:rgb(198, 253, 207);
}


.Country_City{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Temperature{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}
.Conditions{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.Buttons{
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

button{
  padding: 3%;
  margin-bottom: 3%;
  font-size: 0.9rem;
  background-color: rgba(155, 39, 39, 0.897);
  color:white;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}

.Degress{
  background-color:rgb(98, 4, 117);
}

button:hover{
  background-color: rgb(228, 48, 48);
}

.Degress:hover{
  background-color: rgb(157, 8, 187);
}

img{
  animation-name: weather;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes weather {
  from{
      
  }
  to{
    width: 80%;
  }
}
 